@font-face {
   src: url(../fonts/google-font/Poppins-Bold.ttf);
   font-family: Poppins-Bold;
}
/* @font-face {
   src: url(../fonts/google-font/Montserrat-Regular.ttf);
   font-family: Montserrat-Regular;
} */


h1{
   font-family: Poppins-Bold;

}
.package-para-color{
   color: #848199;
}
h2,
h3,
h4,
h5{
   font-family: Poppins-Bold;
   color: #231D4F;
   /* font-size: 2.5rem; */
}
p{
   font-family: Montserrat-Regular;
   font-size: 1.1rem;
}
a{
   text-decoration: none;
}
/* button style start  */
.button-style{
   background-color: #FF297D;
   border-color: #FF297D;
   color: white;
   font-weight: bold;
   
}

/* button style end  */
.all-phone{
   background-color: rgba(251, 253, 253, 0.322);
}
.header{
   background-color: #6047EC;
   
}
.roundbody{
   border-radius: 20px;
   border: 2px solid #ff297f2f;
}
.roundcard{
   border-radius: 20px;
   border: 2px solid #ff297f8c;
}
.bodycard{ 
   background-color: #76f7d71e;
}
.shadowall{
   box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.shadowsingle{
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.shadowsingle2{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.letter-space{
   letter-spacing: 6px;
   word-spacing: 8px;
}










